.main__cart__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    max-height: 700px;
}
.cart__container{
    display: flex;
    align-items: center;
}
.quantity{
    display: flex;
    gap: 0.5rem;
    background-color: white;
    align-items: center ;
}
.quantity__button2{
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.383);
    font-size: 1rem;
}
.cart__container--info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.cart__title{
    font-size: 1rem;
    width: 130px;
    text-align: center;
}
.cart__container--image {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.main__cart{
    display: flex;
    justify-content: space-around;
}
.svg1{
    height: 20px;
    color: red;
}
.cart__container--prince{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer__total{
    font-size: 1.4rem;
}
.button {
    --width: 130px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
}
.button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}
.button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}
.button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}
.text {
    top: 0
}
.text,.icon {
    transition: top 0.5s;
}
.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon svg {
    width: 24px;
    height: 24px;
}
.button:hover {
    background: #222;
    cursor: pointer;
}
.button:hover .text {
    top: -100%;
}
.button:hover .icon {
    top: 0;
}
.button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}
.button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
.cart__delete{
    background-color: transparent;
    border: none;
}
.modal__container{
    min-width: 400px;
    max-width: 400px;
    border-radius: 20px 0 0 20px;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap
}
@media (width<=400px){
    .modal__container{
        min-width: 100%;
        max-width: 100%;
        border-radius: 0 0 0 0;
    }
}


